body {
  text-align: center;
  font-size: 2em;
  font-family: fantasy;
  margin: 2;
}
h1 {
  font-size: 2em;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  margin: 0 0 30px 0;
  color: #333;
}
.row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.row > div {
  display: block;
  width: 60px;
  height: 60px;
  border: solid rgb(4, 3, 3);
  margin: 10px;
  text-align: center;
  line-height: 80px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
}

.row > div.green {
  --background: #3d883d;
  --border-color: #0a100a;
  animation: flip 0.5s ease forwards;
}
.row > div.grey {
  --background: #a1a1a1;
  --border-color: #080707;
  animation: flip 0.6s ease forwards;
}
.row > div.yellow {
  --background: #beaa52;
  --border-color: #0f0f0d;
  animation: flip 0.5s ease forwards;
}

.row > div:nth-child(2) {
  animation-delay: 0.2s;
}
.row > div:nth-child(3) {
  animation-delay: 0.4s;
}
.row > div:nth-child(4) {
  animation-delay: 0.6s;
}
.row > div:nth-child(5) {
  animation-delay: 0.8s;
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: white;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    background: var(--background);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    background: var(--background);
    border-color: var(--border-color);
    color: #eee;
  }
}

.keypad {
  max-width: 500px;
  margin: 20px auto;
}

.keypad > div {
  margin: 5px;
  width: 40px;
  height: 50px;
  background:rgb(184, 162, 74);
  display: inline-block;
  border-radius: 5px;
  line-height: 50px;
}
.keypad > div.green {
  background:rgb(44, 149, 60);
  color: #fff;
  transition: all 0.5s ease-in;
}
.keypad > div.yellow {
  background:rgb(184, 162, 74);
  color: #fff;
  transition: all 0.5s ease-in;
}
.keypad > div.grey {
  background:rgb(107, 104, 96);
  color: #fff;
  transition: all 0.5s ease-in;
}

.endgame {
  background: rgb(107, 104, 96);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0

}
.endgame div {
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  margin: 10% auto;
  box-shadow: #0a100a;
}
.endgame .solution {
  color:rgb(44, 149, 60);
  font-weight: bold;
  font-size: 1em;
}